<!-- Bootstrap Icons -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light m-4">
  <div class="container-fluid">

    <!-- Logo -->
    <img
      src="../images/favicon.ico.png"
      height="100"
      alt="לוגו מטעים לי"
      class="animated"
    />

    <!-- Toggler for Mobile -->
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Nav Items -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Right-side navigation links -->
      <div class="navbar-nav">
        <a href="../index.html" class="nav-item nav-link active"
          >דף הבית
          <i class="bi bi-house"></i>
        </a>

        <a href="../html/gallery.html" class="nav-item nav-link"
          >גלריית המאגר
          <i class="bi bi-cup-hot"></i>
        </a>

        <a href="../html/sign.html" class="nav-item nav-link"
          >הוספת מתכון
          <i class="bi bi-journal-text"></i>
        </a>

        <a href="../html/sort.html" class="nav-item nav-link"
          >מיון אישי
          <i class="bi bi-check2-circle"></i>
        </a>

        <a href="../html/convertion.html" class="nav-item nav-link"
          >המרות &hArr;</a
        >
      </div>

      <div class="navbar-nav ms-auto">
        <a href="../html/about.html" class="nav-item nav-link"
          >אודות
          <i class="bi bi-question-square"></i>
        </a>
      </div>

    </div>
  </div>
</nav>
